@using Data
@using global::Data.TMDBDomain
@using WebApp.Components.Domain.Movie
@using WebApp.DataServices.Services.TMDB
@inject IDataService DataService
@inject NavigationManager NavigationManager


<MudGrid Sstyle="user-select:none;">
    
@if (_movies == null)
{
    <MudItem xs="12" md="12" lg="12">
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
    </MudItem>
}
else
{
<MudItem xs="12" md="12" lg="12">
    <MudCarousel Class="d-flex flex-column mud-width-full " style="height:40.625rem;user-select:none;" ItemsSource="@currentMovies" @bind-SelectedIndex="currentIndex"  ShowArrows="true" ShowBullets="true" AutoCycle="true">
        <BulletTemplate Context="selected">
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Icon="@(selected ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Circle)" Style="@($"color:{Colors.Purple.Lighten5};")" />
            </span>
        </div>
        </BulletTemplate>
        <PreviousButtonTemplate>
            <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                <span class="mud-icon-button-label">
                    <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipPrevious" Size="Size.Large" Style="@($"color:{Colors.Purple.Lighten5};")" />
                </span>
            </div>
        </PreviousButtonTemplate>
	    <ItemTemplate>
            <MovieCarouselComponent  Title="@context.Title" Overview="@context.Overview" BackdropSrc="@context.BackdropPath" CoverSrc="@context.PosterPath"  Id="@context.Id.ToString()"/>
	    </ItemTemplate>
        <NextButtonTemplate>
            <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                <span class="mud-icon-button-label">
                    <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipNext" Size="Size.Large" Style="@($"color:{Colors.Purple.Lighten5};")" />
                </span>
            </div>
        </NextButtonTemplate>    
    </MudCarousel>
</MudItem>
}
</MudGrid>
@code {

    private List<TMDBMovie> _movies;
    private List<TMDBMovie> currentMovies;// The movies to display
    private int currentIndex;// The current index of the active movies

    protected override async Task OnInitializedAsync()
    {
        _movies = await DataService.GetTrendingMovies();
        for (int i = 0; i < _movies.ToList().Count(); i++)
        {
            
            if(_movies.ElementAt(i).Title.Count() > 40)
            {
                _movies.RemoveAt(i);
            } else if(_movies.ElementAt(i).Overview.Count() > 299)
            {
                _movies.RemoveAt(i);
            }

        }
        currentMovies = _movies.Take(13).ToList();
        currentIndex = 0;
    }
}
